/* Variables  */
$spacing-0: 0.0000rem;
$spacing-1rem: 0.2500rem;
$spacing-2rem: 0.5000rem;
$spacing-3rem: 1.0000rem;
$spacing-4rem: 1.5000rem;
$spacing-5rem: 2.0000rem;
$spacing-6rem: 3.0000rem;
$spacing-7rem: 4.0000rem;
$spacing-8rem: 5.0000rem;

$shade000: #ffffff !default; //surface
$shade100: #fcfcfc !default; //header background
$shade200: #d8dadd !default;
$shade300: #d4d6d9 !default; //border, divider
$shade400: #d4d6d9 !default; //input border
$shade500: #545b67 !default; //input icon
$shade600: #83888f !default; //text secondary color
$shade700: #69707a !default; //text color
$shade800: #343a40 !default; //unused
$shade900: #212529 !default; //unused

$colors-neutral-50: #F2F2F3FF;
$colors-neutral-100: #CDCDD0;
$colors-neutral-200: #A8A8ADFF;
$colors-neutral-300: #8E8E95FF;
$colors-neutral-400: #72737AFF;
$colors-neutral-500: #68686EFF;
$colors-neutral-600: #5E5E63FF;
$colors-neutral-700: #4A494DFF;
$colors-neutral-800: #363437FF;
$colors-neutral-900: #2C292CFF;
$colors-neutral-950: #231F20FF;
$colors-neutral-0: #FFFFFFFF;
$colors-neutral-1000: #000000FF;

$colors-pink-50: #FFF1F3FF;
$colors-pink-100: #FFE4E7FF;
$colors-pink-200: #FECDD5FF;
$colors-pink-300: #FDA4B3FF;
$colors-pink-400: #FC708AFF;
$colors-pink-500: #F65275FF;
$colors-pink-600: #E21C4FFF;
$colors-pink-700: #BF1143FF;
$colors-pink-800: #A0113FFF;
$colors-pink-900: #89123CFF;
$colors-pink-950: #4C051CFF;

$colors-red-50: #FEF2F3FF;
$colors-red-100: #FEE2E4FF;
$colors-red-200: #FECACEFF;
$colors-red-300: #FDA4AAFF;
$colors-red-400: #F97079FF;
$colors-red-500: #EF3340FF;
$colors-red-600: #DD2532FF;
$colors-red-700: #BA1B26FF;
$colors-red-800: #9A1A23FF;
$colors-red-900: #801C23FF;
$colors-red-950: #450A0EFF;

$colors-orange-50: #FEF3EEFF;
$colors-orange-100: #FEE4D6FF;
$colors-orange-200: #FBC5ADFF;
$colors-orange-300: #F89D79FF;
$colors-orange-400: #F4633AFF;
$colors-orange-500: #F1441EFF;
$colors-orange-600: #E22B14FF;
$colors-orange-700: #BC1D12FF;
$colors-orange-800: #951917FF;
$colors-orange-900: #781816FF;
$colors-orange-950: #41090AFF;

$colors-yellow-50: #FFFEE7FF;
$colors-yellow-100: #FFFEC1FF;
$colors-yellow-200: #FFF886FF;
$colors-yellow-300: #FFEC41FF;
$colors-yellow-400: #FFDB0DFF;
$colors-yellow-500: #FFCC00FF;
$colors-yellow-600: #D19500FF;
$colors-yellow-700: #A66A02FF;
$colors-yellow-800: #89530AFF;
$colors-yellow-900: #74430FFF;
$colors-yellow-950: #442304FF;

$colors-lima-50: #F5FDE8FF;
$colors-lima-100: #E9F9CEFF;
$colors-lima-200: #D4F4A2FF;
$colors-lima-300: #B7EA6CFF;
$colors-lima-400: #9BDC3FFF;
$colors-lima-500: #77BA1FFF;
$colors-lima-600: #5F9B15FF;
$colors-lima-700: #487615FF;
$colors-lima-800: #3B5D17FF;
$colors-lima-900: #344F18FF;
$colors-lima-950: #192C07FF;


$colors-blue-50: #F1F7FEFF;
$colors-blue-100: #E1EEFDFF;
$colors-blue-200: #BCDCFBFF;
$colors-blue-300: #81C0F8FF;
$colors-blue-400: #3FA0F1FF;
$colors-blue-500: #147BD1FF;
$colors-blue-600: #0968C0FF;
$colors-blue-700: #08529CFF;
$colors-blue-800: #0B4781FF;
$colors-blue-900: #0F3C6BFF;
$colors-blue-950: #0A2647FF;

$colors-indigo-50: #F1F5FCFF;
$colors-indigo-100: #E5ECFAFF;
$colors-indigo-200: #D1DBF4FF;
$colors-indigo-300: #B4C4EDFF;
$colors-indigo-400: #96A5E3FF;
$colors-indigo-500: #6F7BD4FF;
$colors-indigo-600: #6266C9FF;
$colors-indigo-700: #5254B0FF;
$colors-indigo-800: #44468FFF;
$colors-indigo-900: #3D4072FF;
$colors-indigo-950: #232443FF;
