<app-default-column-separator-grid [content]="content"></app-default-column-separator-grid>

<ng-template #cardBody>
    <app-declaration-request-producer-list
            [totalProducerTons]="model?.meta?.totalTons"
            [loaderId]="loaderId"
            [model]="model?.items"
            (viewEvent)="view($event)">
    </app-declaration-request-producer-list>
    <app-paginator (pageFunction)="page($event)" [pageParamName]="'pageIndex'" [pageSizeParamName]="'itemsPerPage'" [rowsPerPageOptions]="[10, 20, 30]" [totalElements]="model?.meta?.totalItems"></app-paginator>
</ng-template>

<ng-template #content>
    <app-filter
                *ngIf="(loaderService.loading[this.filerLoaderId] | loaderHelper)"
                (filterEvent)="filterProcess($event)"
                (sortEvent)="sort($event)"
                [filters]="filters"
                [table]="declarationProducerListComponentRef?.table">
    </app-filter>
    <app-card [content]="cardBody"></app-card>
</ng-template>







