<form (submit)="this.form.valid ?  save() : markAllAsTouched(form)" [formGroup]="form" focusFirstInvalidField>
    <div class="grid formgrid">

        <div class="col-12 field">
            <label appRedAsteriskV2 for="url">Video</label>

            <textarea [autofocus]="true"
                      placeholder="Informe el link del video"
                      id="url"
                      class="w-full"
                      rows="3" cols="30"
                      pInputTextarea formControlName="url"></textarea>

            <small app-form-error
                   [patterns]="[{ message: 'Esta URL es inválida.', requiredPattern: '^https?://.+$' }]"
                   formControlName="url"></small>
        </div>

        <div class="col-12 field">
            <label appRedAsteriskV2 for="url">Remitientes</label>

                <app-multiselect-checkbox
                        formControlName="allowedOrganizationTypes"
                        [options]="options"
                        optionLabel="label"
                        optionValue="key">
                </app-multiselect-checkbox>

            <small app-form-error
                   formControlName="allowedOrganizationTypes"></small>
        </div>




        <!-- Additional buttons -->
        <div class="col-12 field flex justify-content-end gap-3">
            <p-button [outlined]="true" (onClick)="cancelEvent.emit()"  label="Cancelar"></p-button>
            <p-button [disabled]="this.form.status === 'PENDING'" [loading]="this.buttonIsLoading" label="Registrar" type="submit"></p-button>
        </div>
    </div>
</form>
