<p-table
        #table
        (onSort)="sort($event)"
         [lazy]="true"
         [loading]="isLoading"
         [tableStyle]="{ 'min-width': '50rem' }"
         [value]="model?.items || []"
         styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th>Comuna</th>
            <th class="white-space-nowrap" pSortableColumn="routes">Rutas
                <p-sortIcon field="routes"></p-sortIcon>
            </th>
            <th class="white-space-nowrap" pSortableColumn="cleanPoints">Puntos limpios
                <p-sortIcon field="cleanPoints"></p-sortIcon>
            </th>
            <th class="white-space-nowrap" pSortableColumn="houses">Viviendas atendidas
                <p-sortIcon field="houses"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template let-model pTemplate="body">
        <tr>
            <td>{{ modelIn(model)?.city ?? '-' }}</td>
            <td>{{ modelIn(model)?.routes | number: '1.0-0' ?? '-' }}</td>
            <td>{{ modelIn(model)?.cleanPoints | number: '1.0-0' ?? '-' }}</td>
            <td>{{ modelIn(model)?.houses | number: '1.0-0' ?? '-' }}</td>
        </tr>
    </ng-template>
</p-table>

<app-paginator
        #p
        (pageFunction)="page($event)"
        *ngIf="model?.meta?.totalItems > 10"
        [pageParamName]="'pageIndex'"
        [pageSizeParamName]="'itemsPerPage'"
        [rowsPerPageOptions]="[10, 20, 30]"
        [totalElements]="model?.meta?.totalItems">
</app-paginator>

