<div class="flex flex-column gap-2">
    <p-toolbar styleClass="bg-yellow-50">
        <div class="p-toolbar-group-start text-base font-bold uppercase " style="min-height: 40px">
            {{aTitle}}
        </div>
        <div class="p-toolbar-group-center">
        </div>
        <div class="p-toolbar-group-end">
            <ng-container *ngIf="displayActionButton">
                <p-button *ngIf="buttonLabel" [label]="buttonLabel" (click)="action()" [disabled]="displayActionButtonDisabled" ></p-button>
            </ng-container>
        </div>
    </p-toolbar>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
