<form (submit)="this.form.valid ?  save() : markAllAsTouched(form)" [formGroup]="form" focusFirstInvalidField>
    <div class="grid formgrid">
        <div class="col-12 field">
            <label>Documentos</label>
            <app-giro-upload maxSize="50000000" [base64]="true" formControlName="files" accept=".pdf,.csv"></app-giro-upload>
        </div>

        <div class="col-12 w-full">
            <p-divider></p-divider>
        </div>

        <!-- Additional buttons -->
        <div class="col-12 field flex justify-content-end gap-3">
            <p-button [outlined]="true" (onClick)="closeEvent.emit()" label="Cancelar"></p-button>
            <p-button [disabled]="this.form.status === 'PENDING'" [loading]="this.buttonIsLoading" label="Registrar" type="submit"></p-button>
        </div>
    </div>
</form>
