<app-filter-v2
        [form]="form?.form"
        [table]="table"
        (sortEvent)="sortEvent.emit($event)"
        (filterEvent)="filterEvent.emit($event)"
        [fields]="fields">

    <ng-template pTemplate="buttons">
        <p-button
                severity="secondary"
                class="h-full"
                styleClass="h-full"
                (onClick)="downloadEvent.emit()"
                [loading]="isLoadingDownloadButton"
                [label]="'Descargar'"
                [outlined]="true" >
        </p-button>

        <app-p-button label="Hacer matching" materialIcon="keyboard_arrow_down" iconPos="right" (click)="menu.toggle($event)">
            <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body">
                <ng-template pTemplate="item" let-item>
                    <a (click)="doMatchEvent.emit( item.id )" [attr.tabindex]="-1" class="p-menuitem-link flex justify-content-between align-items-center p-3" [routerLink]="item.routerLink">
                        <div>
                            <span [class]="item.icon"></span>
                            <span> {{ item.label }}</span>
                        </div>
                        <div>
                            <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{ item.shortcut }}</span>
                        </div>
                    </a>
                </ng-template>
            </p-menu>
        </app-p-button>

    </ng-template>

    <ng-template pTemplate="fields">
        <form #form="ngForm" id="form" focusFirstInvalidField>
            <div class="w-full field">
                <label for="category">Productor</label>
                <app-p-autoComplete
                        appendTo="body"
                        [forceSelection]="true"
                        [(ngModel)]="fields[4].value"
                        (ngModelChange)="ngModelChange('organizationIds', fields[4])"
                        (completeMethod)="filterProducers($event)"
                        [suggestions]="producerFiltered"
                        [dropdown]="true"
                        id="producer"
                        name="producer"
                        styleClass="w-full"
                        inputStyleClass="w-full"
                        placeholder="Seleccione el productor"
                        optionValue="id"
                        optionLabel="taxIdentificationNumber">
                </app-p-autoComplete>
            </div>

            <div class="w-full field">
                <label for="category">Categoría</label>
                <app-p-autoComplete
                        appendTo="body"
                        [forceSelection]="true"
                        [(ngModel)]="fields[1].value"
                        (ngModelChange)="ngModelChange('category', fields[1])"
                        (completeMethod)="filterCategory($event)"
                        [suggestions]="categoryFiltered"
                        [dropdown]="true"
                        id="category"
                        name="category"
                        styleClass="w-full"
                        inputStyleClass="w-full"
                        placeholder="Seleccione la categoría"
                        optionValue="id"
                        optionLabel="name">
                </app-p-autoComplete>
            </div>

            <div class="w-full field">
                <label for="category">Subcategoría</label>
                <app-p-autoComplete
                        [disabled]="!fields[1]?.value || loaderService.loading[subcategoryLoaderId] !== '2'"
                        appendTo="body"
                        [forceSelection]="true"
                        [(ngModel)]="fields[2].value"
                        (ngModelChange)="ngModelChange('subcategoryIds', fields[2])"
                        (completeMethod)="filterSubcategory($event)"
                        [suggestions]="subcategoryFiltered"
                        [dropdown]="true"
                        id="subcategory"
                        name="subcategory"
                        styleClass="w-full"
                        inputStyleClass="w-full"
                        placeholder="Seleccione la subcategoría"
                        optionValue="id"
                        optionLabel="name">
                </app-p-autoComplete>
            </div>

<!--            <div class="w-full field">-->
<!--                <label for="material">Material</label>-->
<!--                <app-p-autoComplete-->
<!--                        [disabled]="!fields[2]?.value || loaderService.loading[materialLoaderId] !== '2'"-->
<!--                        appendTo="body"-->
<!--                        [forceSelection]="true"-->
<!--                        [(ngModel)]="fields[3].value"-->
<!--                        (completeMethod)="filterMaterial($event)"-->
<!--                        [suggestions]="materialFiltered"-->
<!--                        [dropdown]="true"-->
<!--                        id="material"-->
<!--                        name="material"-->
<!--                        styleClass="w-full"-->
<!--                        inputStyleClass="w-full"-->
<!--                        placeholder="Seleccione el material"-->
<!--                        optionValue="id"-->
<!--                        optionLabel="name">-->
<!--                </app-p-autoComplete>-->
<!--            </div>-->

            <div class="w-full field">
                <label for="category">Fecha de matching</label>
                <app-p-calendar
                        styleClass="w-full"
                        appSingleDateRangeValidator
                        [appSingleDateValidate]="true"
                        #dateNgModelChangeRef="ngModel"
                        dateFormat="dd/mm/yy"
                        [ngModel]="matchingDate"
                        [placeholder]="'--/--/---- - --/--/----'"
                        selectionMode="range"
                        (ngModelChange)="matchingDateNgModelChange($event)"
                        name="matchingDate"
                        [showIcon]="true"
                        inputId="icon">
                </app-p-calendar>
                <small app-form-error
                       [customErrorMessages]="[{ errorIdentifier: 'singleDateRange', message: 'La gama de fechas debe ser un arreglo de dos fechas en el formato DD/MM/YYYY - DD/MM/YYYY, por ejemplo, 01/07/2024 - 31/07/2024.' }]"
                       [formControl]="dateNgModelChangeRef?.control" ></small>
            </div>
        </form>
    </ng-template>
</app-filter-v2>
