<app-giro-data-view-v2 aTitle="ESTADO DE CUMPLIMIENTO DE METAS GIRO">
    <div class="grid">
        <div class="col-6">
            <app-skeleton [isLoading]="loaderService.loading[domiciliaryChartLoaderId] === '1'" height="508px">
                <ng-container *ngIf="displayDomiciliaryChartContainer">
                    <app-bar-chart
                            (yearEvent)="domiciliaryChartYearChange($event)"
                            [data]="domiciliaryChart" [info]="domiciliaryChartMessage" styleClass="border-solid border-1 surface-border p-5 border-round-sm"></app-bar-chart>
                </ng-container>
            </app-skeleton>
        </div>
        <div class="col-6">
            <app-skeleton [isLoading]="loaderService.loading[noDomiciliaryChartLoaderId] === '1'" height="508px">
                <ng-container *ngIf="displayNoDomiciliaryChartContainer">
                    <app-bar-chart
                            (yearEvent)="noDomiciliaryChartYearChange($event)"
                            [data]="noDomiciliaryChart" [info]="noDomiciliaryChartMessage" styleClass="border-solid border-1 surface-border p-5 border-round-sm"></app-bar-chart>
                </ng-container>
            </app-skeleton>
        </div>
    </div>
</app-giro-data-view-v2>



