<app-giro-data-view-v2 aTitle="DOCUMENTOS">
    <app-material-search-bar [placeholder]="'Buscar por nombre del documento'" (buttonEvent)="add()" label="Nuevo documento" (searchEvent)="search($event)"></app-material-search-bar>
    <app-material-document-list
            (searchEvent)="filter($event)"
            (pageEvent)="filter($event)"
            (sortEvent)="filter($event)"

            [loading]="loaderService.loading[loaderId] === '1'"
            [deleteLoaderId]="this.deleteLoaderId"
            [downloadLoaderId]="this.downloadLoaderId"

            (downloadButtonEvent)="download($event)"
            (deleteButtonEvent)="deleteButtonEvent($event)"

            [model]="model"></app-material-document-list>
</app-giro-data-view-v2>
