<div class="grid app-gap grid-nogutter">
    <app-card [content]="content" class="col-12"></app-card>
</div>

<ng-template #content>
    <div class="grid gap-3">
        <div class="col-12">
            <app-industrial-consumer-material-media-list-container></app-industrial-consumer-material-media-list-container>
        </div>

        <div class="col-12">
            <app-industrial-consumer-material-document-list-container></app-industrial-consumer-material-document-list-container>
        </div>
    </div>

</ng-template>



